openai
paho-mqtt==1.6.1
playsound==1.2.2
Cython
numpy
scipy
soundfile
librosa
unidecode
pyopenjtalk
jamo
ko_pron
pypinyin
jieba
cn2an
indic_transliteration
eng_to_ipa
num_thai
monotonic_align
pyyaml
future
Pillow
LangSegment
transformers
einops
pytorch_lightning
matplotlib
jieba_fast
wordsegment
g2p_en
ffmpeg-python
psutil
gradio
gradio-client
funasr
torchaudio
modelscope
fastapi 
ffmpy 
importlib-resources 
jinja2 
orjson 
pandas 
pydantic 
pydub 
python-multipart 
ruff 
semantic-version 
tomlkit 
typer 
uvicorn 
aiofiles==23.1.0