openai
paho-mqtt==1.6.1
playsound==1.2.2
Cython
torch
numpy
scipy
soundfile
librosa
unidecode
pyopenjtalk
jamo
ko_pron
pypinyin
jieba
cn2an
indic_transliteration
eng_to_ipa
num_thai
monotonic_align
LangSegment
transformers
einops
pytorch_lightning
matplotlib
jieba_fast
wordsegment
g2p_en
ffmpeg-python
psutil
gradio
funasr
torchaudio
modelscope
tensorflow-gpu